/* Universel regler */

@font-face {
    font-family: Toontime2;
    src: url(../font/Toontime2.ttf);
}

@font-face {
    font-family: christmas;
    src: url(../font/christmas.ttf);
}

*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    line-height: 1.9em;
    letter-spacing: 0.3rem;
    text-align: center;
}
h1,h3{
    font-family: Toontime2;
    font-size: 1.1rem;
}
h2{
    font-family: Toontime2;
    font-size: 0.9rem;
}
p{
font-family:mali;
font-weight: 100;
letter-spacing: 0.2rem;
}
header nav ul li a {
    font-family: Toontime2;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    
}

img{
    max-width: 100%;
} 
/*-------------------------------------------*/
/* Body */ 
body{
    
    background-image: url("../img/baggrund2.png");
    
    background-attachment: fixed;
    background-size: cover;
}
/*------------------------------------*/

/* fixed header og nav */
header{
    position: fixed; 
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    background: linear-gradient( rgb(57, 82, 136, 0.7) 15%,#DFE3EF 100%);
    z-index:3;
  
    height: 10vw;
    min-height: 10vh;
    width: 100vw; 
    }
header nav ul{
    font-size: 1.3rem;
    list-style-type: none;
    grid-gap: 1em;
} 
header nav {
    grid-column: 3/11;
    grid-row: span 2;
    margin: auto auto;
    
}
li > a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 1.2em;
    font-family: Bahnschrift;
    position: relative;
    padding: 10px;
 }
 
 li > a:hover {
    background-image: url("../gif/giphy2.gif");
 
 }
 
 li> a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white; 
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
 
  }
 
 li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  header nav ul li{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
}
header nav a{
    text-decoration: none;
    padding:10px 10px;
    margin: auto;
    padding: 20px;
}
.log_søg{
    display: grid;
    text-align: center;
    grid-column: 11/-1;
    grid-row: span 2;
    padding: 5px;
    border-radius: 40px;
    margin: auto;

}
header .login,.search{
    width: 130px;
    border-radius: 10px;
    padding: 7px;
    
}
header .login {
    text-align: center;
    text-decoration: none;
    display: inline;
    transition:ease-in-out 0.5s;
    border-color: rgba(183, 193, 221, 1);
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.3);

}
header .search{
    background-color:#DFE3EF; 
    border-color: rgba(213, 220, 243, 1);
    height: 34px;
    width: 110px;
}
/*---------------------------------------*/
/* pics */
.logo{
    grid-column: 1/3;
    grid-row: span 2;
    width: 60%;
    opacity: 0.9;
    margin: auto;

}
#produkter{
    height: 160px;
    width: 160px;
}
/*---------------------------------------*/
body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(10vh,10vw) auto;
}


/* indhold */
.indhold{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 25px;
    grid-gap: 25px;
    grid-row: 2;
    grid-column: 3/11;
}
.indhold_to{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 25px;
    grid-gap: 25px;
    grid-row: 2;
    grid-column: 2/12;
    overflow-wrap: break-word;
}
.overskrift{
    grid-column: 1/-1;
}
/*------------------------------------------*/
/* box */
.box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(230, 230, 255,0.8);
    border-radius: 5px;  
    border-color: rgba(183, 193, 221, 1);
    overflow-wrap: break-word;
    min-height: 240px;
    height: auto;
   
    
   
}
.indhold .box img{
    margin: 30px auto 20px auto;
    width:210px;
    height: 210px;
}
.box .img_structure{
    grid-column: span 2;
    overflow: hidden;


}
.box .vare_info{
    grid-column: span 2;
    grid-row: 2;
    height:auto;
    min-height: 150px;
}
.box .pris{
 grid-column: span 2;
 grid-row: 3; 
 height: auto;  
}
.box .tilbud{
    display: contents;
    grid-column: span 2;
    grid-row: 3;
}
.box .før_pris{
    text-decoration: line-through;
    display: inline;
    text-align: center;
}
.box .køb {
    grid-row: 4;
    grid-column: 1;
}
.box .ønskeliste{
    grid-row: 4;
    grid-column: 1/-1;
    text-align: center;
    background-image: url("../img/Icons/ønskeliste.png");
    background-position: center;
    background-size:100%;
}
.indhold .box .køb_icon{
    width:25%;
    height:75%;
    text-align: center;
    
}
.box .ønskeliste,.køb{
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   padding: 10px;
   width: 180px;
   height: 55px;
   text-align: center;
   text-decoration: none;
   display: inline;
   transition:ease-in-out 0.5s;
   border-color: rgba(183, 193, 221, 1);
   cursor: pointer;
}
.indhold .box a {
text-decoration: none;
color: black;
}

.knap {
margin: 5px 30px 0px 35px;
border-radius: 10px;
padding: 10px;
width: 140px;
background-color:#d40025;
box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.4);
text-align: center;
text-decoration: none;
display: inline;
transition:ease-in-out 0.5s;
border-color: rgba(183, 193, 221, 1);
}


.køb:hover,.login:hover,.knap:hover {
transform: scale(1.04);
background-image: url("../gif/giphy2.gif");
background-color: rgb(57, 82, 136, 0.7);
}
/*---------------------------------------------------*/
.ønske_genstand{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column: 1/-1; 
    margin: auto;
    background-color: rgb(230, 230, 255,0.8); 
    border-radius: 5px;  
    border-color: rgba(183, 193, 221, 1);
    overflow-wrap: break-word;
    min-height: 240px;
    height: 100%;
    z-index: 2;
}
.køb_butt {
    margin: 5px 30px 0px 35px;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.4);
    text-align: center;
    text-decoration: none;
    display: inline;
    transition:ease-in-out 0.5s;
    border-color: rgba(183, 193, 221, 1);
    background-image: url("../img/Icons/køb.png");
    background-position: center;
    background-size:100%;
    height: 49.6px;
    }
.info_ønske{
    grid-column: 2/4;
    margin: auto;
}
#produkter{
    margin:auto;
}
section ul {
    list-style-type: none;
}

p.pris, p.beskrivelse, ul.knapper_unite {
    margin: auto;
}

.dele {
    text-align: center;
    grid-column: 1/-1;
    margin:auto;
    border-radius: 10px;
    height: 60px;
    width: 358px;
    background-image: url("../img/del4.png");
    box-shadow: 2px 2px 2px 2px;
    margin-bottom: 20px;
    border: 5x;
    
}

h4 {
    font-family: Toontime2;
    font-size: 2em;
    letter-spacing: 0.3em;
    color:white;
    margin:auto;
}

.bruger {
    display: grid;
    background-color: rgb(240, 240, 255,0.9); 
    box-shadow: inset 0px 0px 40px 5px rgba(0,0,0,0.4);
    border-radius: 5px;  
    border-color: rgba(183, 193, 221, 1);
    overflow-wrap: break-word;
}

.indhold_bruger{
    display: grid;
    margin-top: 25px;
    grid-gap: 25px;
    grid-row: 2;
    grid-column: 3/11;
}

.item1 {
    grid-area: img;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(75% - 4px);
    margin-left: 18px;
    margin-top: -9px;
    padding: auto;
}
.item2 {
    grid-area: redigere;
    margin-right: 15px;
}
.item3 { 
    grid-area: navn; 
}
.item4 { 
    grid-area: adresse;
}
.item5 {
    grid-area: alder;
}

.item6 {
    grid-area: email;
}

.item7 {
    grid-area: køn;
}

.item8 {
    grid-area: fødselsdag;
}

.grid-bruger {
  display: grid;
  grid-template-areas:
    'img img img navn navn navn navn'
    'img img img fødselsdag fødselsdag fødselsdag fødselsdag'
    'img img img køn køn køn køn'
    'img img img email email email email'
    'img img img adresse adresse adresse adresse'
    'img img img alder alder alder redigere';
    grid-gap: 10px;
    background-color: rgb(240, 240, 255,0.9); 
    box-shadow: inset 0px 0px 40px 5px rgba(0,0,0,0.4);
    border-radius: 5px;  
    border-color: rgba(183, 193, 221, 1);
    padding: 10px;
    grid-template-columns: 1fr 1fr 0.2fr 0.2fr 1fr 1fr 1fr;
    grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;

}

.grid-container > section {
  padding: 20px 0;
  font-size: 30px;
}

.grid-bruger > section {
    padding: 5px 0;
    font-size: 25px;
  }

  .grid-bruger > section > img {
    padding-top: 10px;
  }

.profil {
    font-size: .7em;
    width: 7.5rem;
    height: 2rem;
}